{% extends 'base.html' %}

{% block content %}
<script src="/static/ffdm.js"></script>
<div class="form-group">
<form method="post">
<table id="AssetsTable">
    <tr>
        <th>Type</th>
        <th>ISIN/ID</th>
        <th>Name</th>
        <th>BankID</th>
        <th>Finanzen.net</th>
        <th>ARD-Boerse</th>
        <th><button type="submit" class="upd_button">Update</button></th>
    </tr>
        {% set count = [] %}
        {% for asset in assets %}
        <tr>
        <td><input type="text" name="AssetType" placeholder="STK" class="input" 
            size=3 value="{{ request.form['AssetType'] or asset['AssetType'] }}">
        </input></td>
        <td><input type="text" name="AssetID" placeholder="" class="input" 
            size=10 value="{{ request.form['AssetID'] or asset['AssetID'] }}">
        </input></td>
        <td><input type="text" name="AssetName" placeholder="" class="input" 
            size=14 value="{{ request.form['AssetName'] or asset['AssetName'] }}">
        </input></td>
        <td><input type="text" name="BankRef" placeholder="" class="input" 
            size=12 value="{{ request.form['BankRef'] or asset['BankRef'] }}">
        </input></td>
        <td><input type="text" name="NetRef1" placeholder="" class="input" 
            size=12 value="{{ request.form['NetRef1'] or asset['NetRef1'] }}">
        </input></td>
        <td><input type="text" name="NetRef2" placeholder="" class="input" 
            size=12 value="{{ request.form['NetRef2'] or asset['NetRef2'] }}">
        </input></td>
        <td style="justify-content: center;">
            <button id="del_line{{ loop.index|string }}" class="del_button" 
            onclick="return delEntry({{ loop.index|string }})">
            Delete</button></td>
        </tr>
        {% if count.append(loop.index) %}{% endif %}
        {% endfor %}
        {% set row = count[-1] + 1 %}
        <tr><td style="text-align:center;">
            <button id="add" class="add_button" type="add_button"
            onclick="addEntry({{ row|string }})">Add</button>
        </td></tr>
    </table>
</form>
</div>

{% endblock %}
