{% extends 'base.html' %}

{% block content %}
<script src="/static/ffdm.js"></script>
<div class="form-group">
<form method="post">

{% if pages > 1 %}
<table id="paginationTable"><tr>
<td style="font-size: 1.1em; width: 2.1em; text-align: center;"><a href="{{ url_for('edit_accounts', page_num = 0, win_min = 0, win_max = 10 ) }}" style="text-decoration:none;">|<</a></td>
<td style="font-size: 1.1em; width: 2.1em; text-align: center;"><a href="{{ url_for('edit_accounts', page_num = page_num - 1, win_min = win_min, win_max = win_max ) }}" style="text-decoration:none;"><</a></td>
{% for p in page_window %}
<td style="font-size: 1.1em; width: 2.1em; text-align: center;">
    {% if p == page_num %}
        <a href="{{ url_for('edit_accounts', page_num = p, win_min = win_min, win_max = win_max ) }}" style="font-weight:bold; text-decoration:none">[{{ p + 1 }}]</a>
    {% else %}
        <a href="{{ url_for('edit_accounts', page_num = p, win_min = win_min, win_max = win_max ) }}" style="text-decoration:none;">{{ p + 1 }}</a>
    {% endif %}
</td>
{% endfor %}
<td style="font-size: 1.1em; width: 2.1em; text-align: center;"><a href="{{ url_for('edit_accounts', page_num = page_num + 1, win_min = win_min, win_max = win_max ) }}" style="text-decoration:none;">></a></td>
<td style="font-size: 1.1em; width: 2.1em; text-align: center;"><a href="{{ url_for('edit_accounts', page_num = pages - 1, win_min = pages - 11, win_max = pages -1 ) }}" style="text-decoration:none;">>|</a></td>
</tr></table>
<div style="clear:both;"></div>
{% endif %}

<table id="FFDMTable">
    <tr>
        <th>EntryDate</th>
        <th>Account</th>
        <th>Reference</th>
        <th>Amount</th>
        <th>Currency</th>
        <th><button type="submit" class="upd_button">Update</button></th>
    </tr>
        {% set count = [] %}
        {% for key, entry in accounts.iterrows() %}
        <tr>
        {% if entry['EntryDate'] == '' %}
            <td><input type="date" name="EntryDate" placeholder="" class="input"
                size=10 value="{{ today_date }}" required>
            </input></td>
        {% else %}
            <td><input type="date" name="EntryDate" placeholder="" class="input"
                size=10 value="{{ request.form['EntryDate'] or entry['EntryDate'] }}">
            </input></td>
        {% endif %}
        <td><select name="AccountNr" style="font-size: 0.9em;" autofocus>
            {% if entry['AccountNr'] == '' %}
                <option hidden selected>Select Account...</option>
            {% endif %}
            {% for akey, account in accountReg.iterrows() %}
                {% if entry['AccountNr'] == account['AccountNr'] %}
                    <option value="{{ account['AccountNr'] }}" selected>
                        {{ account['Name'] }}
                    </option>
                {% else %}
                    <option value="{{ account['AccountNr'] }}">
                        {{ account['Name'] }}
                    </option>
                {% endif %}
            {% endfor %}    
        </select></td>
        <td><input type="text" name="Reference" placeholder="" class="input" 
            size=35 value="{{ request.form['Reference'] or entry['Reference'] }}">
        </input></td>
        <td><input type="number" name="Amount" placeholder="" class="input" 
            size=8 max="99999" step="0.001" default="0" 
            value="{{ request.form['Amount'] or entry['Amount'] }}">
        </input></td>
        {% if entry['Currency'] == '' %}
        <td><input type="text" name="Currency" placeholder="" class="input" 
            size=4 value="{{ currency }}">
        </input></td>
        {% else %}
        <td><input type="text" name="Currency" placeholder="" class="input" 
            size=4 value="{{ request.form['Currency'] or entry['Currency'] }}">
        </input></td>
        {% endif %}
        <td><button id="del_line{{ loop.index|string }}" class="del_button" 
            onclick="return delTableRow({{ loop.index|string }})">
            Delete</button></td>
        </tr>
        {% if count.append(loop.index) %}{% endif %}
        {% endfor %}
        {% set row = count[-1] + 1 %}
    </table>
</form>
</div>

{% endblock %}
