{% extends 'base.html' %}

{% block content %}

   {% if current_user.is_authenticated %}
   {% else %}
   <div class="navbar">
        <a href="."><img src="/static/applogo128.png" class="logo"></img></a>
        <a href="/login">Login</a>
        <a href="/register">Create account</a>
   </div>
   {% endif %}

   <div class="row">
   <div class="top_column">
   <div class="idxtable">
    <table>
    <tr>
        <th>Index</th>
        <th>Value</th>
        <th>Time</th>
        <th>Delta</th>
    </tr>
    {% for key,idx_item in idcDF.iterrows() %}
       {% if idx_item['ind_diff'] > -0.01 and idx_item['ind_diff'] < 0.01 %}
            <tr class="row-neutral">
        {% elif idx_item['ind_diff'] >= 0.01 %}
            <tr class="row-success">
        {% else %}
            <tr class="row-danger">
        {% endif %}
        <td align="left">
            <span><b>{{ idx_item['ind_title'] }}</b></span>
        </td>
        <td align="right">
            <span><b>{{ format_dec(idx_item['ind_num']) }}</b></span>
        </td>
        <td align="right">
            <span><b>{{ idx_item['ind_date'][:16] }}</b></span>
        </td>
        <td align="right">
            <span><b>{{ format_percent(idx_item['ind_diff']) }}%</b></span>
        </td>
        </tr>
    {% endfor %}
    </table>
   </div>
   </div>

   <div class="top_column">
   <div class="idxparagraph">
        Fear-And-Greed: {{ fng }} ({{ fngf }})
   </div>
   <img src="/static/idxcharts/fearandgreed.png" class="chart"></img>
   <div class="idxparagraph">
        Fear-And-Greed average: {{ fngavg }}
   </div>
   <img src="/static/idxcharts/fearandgreedaverages.png" class="chart"></img>
   <div class="idxparagraph">
        Fear-And-Greed historical:
   </div>
   <img src="/static/idxcharts/fearandgreedhistory.png" class="chart"></img>

   </div>

{% endblock %}
