{% extends 'base.html' %}

{% block content %}
<script src="/static/ffdm.js"></script>
<div class="form-group">
<form method="post">
&nbsp;<select name="AccountNr" style="font-size: 0.9em;" autofocus onchange="this.form.submit()">
            {% if account_sel == '' %}
                <option hidden selected>Select Account...</option>
            {% endif %}
            {% for akey, account in accountReg.iterrows() %}
                {% if account_sel == account['AccountNr'] %}
                    <option value="{{ account['AccountNr'] }}" selected>
                        {{ account['Name'] }}
                    </option>
                {% else %}
                    <option value="{{ account['AccountNr'] }}">
                        {{ account['Name'] }}
                    </option>
                {% endif %}
            {% endfor %}
</select>
<br>

{% if pages > 1 %}
<table id="paginationTable"><tr>
<td style="font-size: 1.1em; width: 2.1em; text-align: center;"><a href="{{ url_for('view_accounts', page_num = 0, account_sel = account_sel, win_min = 0, win_max = 10 ) }}" style="text-decoration:none;">|<</a></td>
<td style="font-size: 1.1em; width: 2.1em; text-align: center;"><a href="{{ url_for('view_accounts', page_num = page_num - 1, account_sel = account_sel, win_min = win_min, win_max = win_max ) }}" style="text-decoration:none;"><</a></td>
{% for p in page_window %}
<td style="font-size: 1.1em; width: 2.1em; text-align: center;">
    {% if p == page_num %}
        <a href="{{ url_for('view_accounts', page_num = p, account_sel = account_sel, win_min = win_min, win_max = win_max ) }}" style="font-weight:bold; text-decoration:none">[{{ p + 1 }}]</a>
    {% else %}
        <a href="{{ url_for('view_accounts', page_num = p, account_sel = account_sel, win_min = win_min, win_max = win_max ) }}" style="text-decoration:none;">{{ p + 1 }}</a>
    {% endif %}
</td>
{% endfor %}
<td style="font-size: 1.1em; width: 2.1em; text-align: center;"><a href="{{ url_for('view_accounts', page_num = page_num + 1, account_sel = account_sel, win_min = win_min, win_max = win_max ) }}" style="text-decoration:none;">></a></td>
<td style="font-size: 1.1em; width: 2.1em; text-align: center;"><a href="{{ url_for('view_accounts', page_num = pages - 1, account_sel = account_sel, win_min = pages - 11, win_max = pages -1 ) }}" style="text-decoration:none;">>|</a></td>
</tr></table>
<div style="clear:both;"></div>
{% endif %}

<div>
<table id="FFDMTable">
    <tr>
        <th>EntryDate</th>
        <th>Account</th>
        <th>Reference</th>
        <th>Amount</th>
        <th>Currency</th>
    </tr>
        {% for key, entry in acc_data.iterrows() %}
        <tr>
        <td style="font-size: 1.1em;">{{ entry['EntryDate'] }}</td>
        <td style="font-size: 1.1em;">{{ entry['AccountNr'] }}</td>
        <td style="font-size: 1.1em;">{{ entry['Reference'] }}</td>
        <td style="font-size: 1.1em;">{{ entry['Amount'] }}</td>
        <td style="font-size: 1.1em;">{{ entry['Currency'] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</form>
</div>

{% endblock %}
