{% extends 'base.html' %}

{% block content %}
<script src="/static/ffdm.js"></script>
<div class="form-group">
<form method="post">
<table id="VLEditTable">
    <tr>
        <th>PlanID</th>
        <th>Bank</th>
        <th>AccountNr</th>
        <th>AssetID</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Amount</th>
        <th>Pieces</th>
        <th>Cur.</th>
        <th><button type="submit" class="upd_button">Update</button></th>
    </tr>
        {% set count = [] %}
        {% for key, plan in vlplans.iterrows() %}
        <tr>
        <td><input type="text" name="PlanID" placeholder="STK" class="input" 
            size=2 value="{{ request.form['PlanID'] or plan['PlanID'] }}">
        </input></td>
        <td><input type="text" name="Bank" placeholder="" class="input" 
            size=8 value="{{ request.form['Bank'] or plan['Bank'] }}">
        </input></td>
        <td><input type="text" name="AccountNr" placeholder="" class="input" 
            size=10 value="{{ request.form['AccountNr'] or plan['AccountNr'] }}">
        </input></td>
        <td><input type="text" name="AssetID" placeholder="" class="input" 
            size=10 value="{{ request.form['AssetID'] or plan['AssetID'] }}">
        </input></td>
        <td><input type="date" name="StartDate" placeholder="" class="input" 
            size=4 value="{{ request.form['StartDate'] or plan['StartDate'] }}">
        </input></td>
        <td><input type="date" name="EndDate" placeholder="" class="input" 
            size=4 value="{{ request.form['EndDate'] or plan['EndDate'] }}">
        </input></td>
        <td><input type="number" name="Amount" placeholder="" class="input" 
            size=8 max="99999" min="0" step="0.001"
            value="{{ request.form['Amount'] or plan['Amount'] }}">
        </input></td>
        <td><input type="number" name="Pieces" placeholder="" class="input" 
            size=8 max="99999" min="0" step="0.001"
            value="{{ request.form['Pieces'] or plan['Pieces'] | round(3)}}">
        </input></td>
        <td><input type="text" name="Currency" placeholder="" class="input" 
            size=3 value="{{ request.form['Currency'] or plan['Currency'] }}">
        </input></td>
        <td><button id="del_line{{ loop.index|string }}" class="del_button" 
            onclick="return delVL({{ loop.index|string }})">
            Delete</button></td>
        </tr>
        {% if count.append(loop.index) %}{% endif %}
        {% endfor %}
        {% set row = count[-1] + 1 %}
        <tr><td style="text-align:center;">
            <button id="add" class="add_button" type="button"
            onclick="addVL({{ row|string }})">Add</button>
        </td></tr>
    </table>
</form>
</div>

{% endblock %}
